# ==========================================
# 1. FRONTEND (Angular / Ionic)
# ==========================================

frontend/node_modules/
frontend/.angular/
frontend/www/
frontend/dist/
frontend/coverage/


# ==========================================
# 2. PYTHON
# ==========================================

backend/.venv/
**/venv/
**/.venv/

**/__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================================
# 3. VISIÓN ARTIFICIAL / YOLO
# ==========================================

ia/models/*.pt
ia/models/*.onnx
ia/runs/


# ==========================================
# 4. CONFIGURACIÓN Y SEGURIDAD
# ==========================================

.env
.env.*
*.env
*.env.*


# ==========================================
# 5. SISTEMA / IDE
# ==========================================

.DS_Store
Thumbs.db

.vscode/
.idea/